{{block "index" .}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Meow</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>
  <body></body>
</html>

{{end}}
<!--  -->
{{block "form" .}}
<!--  -->
<form hx-post="/contacts">
  <!--  -->
  name: <input type="text" name="name" />
  <!--  -->
  email: <input type="text" name="email" />
  <!--  -->
  <button type="submit">Add</button>
</form>
{{end}}

<!--  -->
{{block "display" .}}
<!--  -->
<div style="display: flex; flex-direction: column">
  <!--  -->
  Name: <span>{{.Name}}</span>
  <!--  -->
  Email: <span>{{.Email}}</span>
</div>
{{ end }}
